---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section
    class="max-w-full h-[100vh] my-auto mx-auto flex justify-center items-center"
  >
    <h1
      class="font-montserrat font-bold mb-2 text-[clamp(160px,20vw,320px)] leading-none tracking-tight"
    >
      Sandbox!
    </h1>
  </section>
</Layout>
